body {
	padding-top: 90px;
}

h1,h2{
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}
.nav{
	margin-top:18px;
}

.navbar-default{
	min-height:90px;
	margin-bottom:0 !important;
}

.navbar-brand{
	height:auto;
	padding-top:15px;
	margin:0;
}

.navbar-main{
	margin:0;
	padding:0;
}

.navbar-main li{
	padding-top:5px;
	padding-bottom:5px;
}

.navbar-main > li > a{
	padding:20px;
	font-size:18px;
	font-weight: bold;
	border-right:1px solid #ccc;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

.navbar-main > li > a span{
	margin:5px 0 0 0;
	padding:0;
	font-size: 14px;
	display:block;
	font-weight: normal;
	font-family: arial;
	text-transform: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	background:#0383c0 !important;
	color:#fff !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background:#0383c0 !important;
	color:#fff !important;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	background:#ED7163 !important;
	color:#fff !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background:#ED7163 !important;
	color:#fff !important;
}
.navbar-inverse {
	background-color: #0383c0 !important;
}

.navbar-title{
	margin:0;
	padding:0;
}

.center {
	margin: auto !important;
	text-align: center;
	width: 50%;
}

.navbar-title > li > a{
	padding:20px;
	font-size:18px;
	font-weight: bold;
	color:#fff !important;
	border-right:1px solid #ccc;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

h1{
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}


p.oblique {
	font-style: oblique;
}

.price {
	margin: 5px;
	font-size: 18px;
}

.price span {
	color: green;
	background: #f4f4f4;
	padding: 10px;
	border: 1px #ccc solid;
	border-radius: 50%;
}

.remain {
	margin: 5px;
	font-size: 18px;
}

.remain span {
	color: red;
	background: #f4f4f4;
	padding: 10px;
	border: 1px #ccc solid;
	border-radius: 50%;
}

.book {
	text-align: center;
	margin-bottom: 30px;
}

.buy {
	background: #0383c0 !important;
	color: #fff !important;
}

footer{
	text-align:center;
	height:60px;
	background:#f4f4f4;
	padding-top:20px;
}

.section-title{
	padding:10px;
	background:#0383c0;
	color:#fff;
}

.section-title small{
	color:#ccc !important;
}

.book-detail {
	margin:40px;
}

.book-info {
	text-align: left !important;
	font-size: 20px;
}

.quantity {
	width: 80px !important;
}

.button-right {
	text-align: right;
}

.button-left {
	text-align: left;
}

.link-center {
	text-align: center;
}


